{% extends 'Layout.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome - Educational Web App</title>
    <!-- Include any additional head elements if needed -->
</head>
<body>

<div class="container">
    <div class="jumbotron mt-5">
        <h1 class="display-4">Welcome to our Coursiz!</h1>
        <p class="lead">Explore our courses and enhance your knowledge.</p>
    </div>
</div>



</body>
</html>
{% endblock %}
